{% extends 'base_news.html' %}
{% load static %}

{% block heading_page %}
<div>
    <h2 class="mt-3">{{ title }}</h2>
</div>
{% endblock %}

{% block sidebar_news %}
    {% include 'includs/_sidebar.html' %}
{% endblock %}

{% block content_news %}
{% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категорія <a href="{{ item.category.get_absolute_url }}">{{ item.category.title }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ item.title }}</h5>
            <div class="media">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="Фото статті" width="350" class="mr-3">
                {% else %}
                <img src="{% static 'image/no_image.png' %}" alt="Фото для статті не знайдено" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <p class="card-text">{{ item.content|safe|linebreaksbr|truncatewords:'50' }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Перейти до новини</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:"d.m.Y H:m:i" }}
        </div>
    </div>
    {% endfor %}
{% endblock %}