{% extends 'base_news.html' %}
{% load static %}

{% block title %}{{ news_item.title|truncatechars:"19"}}{% endblock %}

{% block heading_page %}
<div>
    <h2 class="mt-3">{{ current_category.title }}</h2>
</div>
{% endblock %}

{% block sidebar_news %}
    {% include 'includs/_sidebar.html' %}
{% endblock %}

{% block content_news %}
    <div class="card mb-3">
        <div class="card-header">
            Категорія {{ news_item.category.title }}
        </div>
        <div class="card-body">
            <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ news_item.title }}</h5>
            <div class="media">
                {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="Фото статті" width="350" class="mr-3">
                {% else %}
                <img src="{% static 'image/no_image.png' %}" alt="Фото для статті не знайдено" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <p class="card-text">{{ news_item.content|safe|linebreaksbr }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"d.m.Y H:m:i" }}
        </div>
    </div>
{% endblock %}